body {
    background-color: #000;
}

.hero {
    padding: 80px 0;
}

.hero img {
    width: 160px;
    height: 160px;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    border-color: #ff1a1a !important;
}
